RewriteEngine On
RewriteBase /

# Redireciona para https://www.cmiengenharia.com.br
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.cmiengenharia\.com.br$ [NC]
RewriteRule ^(.*)$ https://www.cmiengenharia.com.br/$1 [L,R=301]

# Regras do SPA (React, Vue, etc.)
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]