RewriteEngine On
RewriteBase /

# Redireciona para https://www.cmiengenharia.com.br
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.cmiengenharia\.com\.br$ [NC]
RewriteRule ^(.*)$ https://www.cmiengenharia.com.br/$1 [L,R=301]

# Redirecionamentos específicos para /servicos
RewriteRule ^elevador-cremalheira-locacao-venda\.html$ /servicos [R=301,L]
RewriteRule ^empresas-especializada-elevadores-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^manutencao-mini-grua\.html$ /servicos [R=301,L]
RewriteRule ^instalacao-elevador-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^elevador-construcao-civil\.html$ /servicos [R=301,L]
RewriteRule ^locacao-mini-grua\.html$ /servicos [R=301,L]
RewriteRule ^elevador-cremalheira-usado-venda\.html$ /servicos [R=301,L]
RewriteRule ^venda-elevadores-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^cremalheira-obra\.html$ /servicos [R=301,L]
RewriteRule ^empresas-elevadores-construcao-civil\.html$ /servicos [R=301,L]
RewriteRule ^empresas-elevadores-obra\.html$ /servicos [R=301,L]

# Novos redirecionamentos adicionados para /servicos
RewriteRule ^adquacao-elevador-cremalheira-norma-nrb-16200\.html$ /servicos [R=301,L]
RewriteRule ^aluguel-elevador-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^aluguel-elevadores-construcao-civil\.html$ /servicos [R=301,L]
RewriteRule ^aluguel-elevador-obra\.html$ /servicos [R=301,L]
RewriteRule ^aluguel-mini-grua\.html$ /servicos [R=301,L]
RewriteRule ^clientes\.html$ /clientes [R=301,L]
RewriteRule ^comprar-mini-grua\.html$ /servicos [R=301,L]
RewriteRule ^contato\.html$ /contato [R=301,L]
RewriteRule ^cremalheira-construcao-civil\.html$ /servicos [R=301,L]
RewriteRule ^cremalheiras-elevadores\.html$ /servicos [R=301,L]
RewriteRule ^elevador-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^elevador-cremalheira-usado\.html$ /servicos [R=301,L]
RewriteRule ^elevador-obra-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^empresa\.html$ /empresa [R=301,L]
RewriteRule ^empresas-elevadores-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^galeria\.html$ /galeria [R=301,L]
RewriteRule ^informacoes\.html$ /informacoes [R=301,L]
RewriteRule ^locacao-mini-grua-campinas\.html$ /servicos [R=301,L]
RewriteRule ^mini-grua-construcao-civil\.html$ /servicos [R=301,L]
RewriteRule ^mini-grua\.html$ /servicos [R=301,L]
RewriteRule ^montagem-elevador-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^reforma-elevadores-cremalheira\.html$ /servicos [R=301,L]
RewriteRule ^servicos\.html$ /servicos [R=301,L]

# Regras para SPA (React, Vue, etc.)
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]